
@font-face {
  font-family: "Yekan";
  src: url("/public/assets/font/Yekan.ttf");
}

body {
  margin: 0;
  font-family: 'Yekan', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
